* {
  font-size: 200%;
  font-family: Arial;
 }

.navbar a {
  text-decoration: none;
  position: relative;
}

.navbar a::before {
  content: '';
  background-color: hsla(196, 61%, 58%, .75);
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
}

.navbar a:hover::before {
  bottom: 0;
  height: 100%;
}

.navbar a::before {
  content: '';
  background-color: hsla(196, 61%, 58%, .75);
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all .3s ease-in-out;
}